<a href="https://colab.research.google.com/github/sivsri/python/blob/main/Activity__Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Activity: Functions</h1>

## Introduction 

In this lab, you will practice defining functions and returning values, writing clean code, and using comments to scaffold code.

As a data professional, you'll often need to reuse the same block of code more than once when you're writing Python code to automate a certain task. This is why functions are important. You can call functions whenever you need the computer to execute those steps. Python has built-in functions that have already been defined and also provides tools for users to define their own functions.

In this lab, you'll define and call a function that calculates the revenue a theater makes depending on the number of tickets sold, then test the function with a new value.

## Tips for completing this lab

As you navigate this lab, keep the following tips in mind:

- `### YOUR CODE HERE ###` indicates where you should write code. Be sure to replace this with your own code before running the code cell.
- Feel free to open the hints for additional guidance as you work on each task.
- To enter your answer to a question, double-click the markdown cell to edit. Be sure to replace the "[Double-click to enter your responses here.]" with your own answer.
- You can save your work manually by clicking File and then Save in the menu bar at the top of the notebook.
- You can download your work locally by clicking File and then Download and then specifying your preferred file format in the menu bar at the top of the notebook.

## Task 1: Analyze a function

In your work as a data analyst for a movie theater, you're asked to quickly calculate how much the theater has made in sales so far.

In the following cell, analyze the function named `total_sales` and make note of your observations.

You do not need to run this cell, but if you do it will not produce an output.

In [ ]:
# Define a function named `total_sales`
def total_sales():

    # Return a value
    return

## Task 2: Add a parameter and calculations to the function

As you continue refining your code, imagine that the price of tickets is $7.99. Now you will need to add a parameter to the function definition and the calculation to the function body.

### 2a: Add a calculation to the function

In this task, update the `total_sales` function so it returns the value of the number of tickets `n` multiplied by the price `7.99`.

In [ ]:
### YOUR CODE HERE ###
def total_sales(n):
    return n * 7.99

### 2b: Call the function

With the calculations added to the `total_sales` function, test it with a value of `59`.

*Example:*

```
[IN]  total_sales(59)
[OUT] 471.41
```

In [ ]:
### YOUR CODE HERE ###
total_sales(59)

471.41

# Task 3: Create a function that accepts two values

You learn that the price of tickets is more expensive for opening night, and now you need to create a function that will accept two values and return their total value.

### 3a: Refine the `total_sales` function

*  Update your `total_sales` function so it accepts two parameters:
    * `price` for the price per ticket
    * `num_tickets` for the total number of tickets.

* Return the product of the two arguments. Use the Python `round()` function to round the returned value to two decimal places. Refer to the [round() Python documentation](https://docs.python.org/3/library/functions.html#round) for more information regarding this function.

In [ ]:
### YOUR CODE HERE ###
def total_sales(p, n):
    return round(n * p, 2)

### 3b: Call the function

Then, call the function with the value of `15.99` for `price` and `1001` for the number of tickets sold (`num_tickets`).

Example:

```
[IN]  total_sales(15.99, 1001)
[OUT] 16005.99
```

In [ ]:
### YOUR CODE HERE ###
total_sales(15.99, 1001)

16005.99

# Task 4: Test the function with different values

As prices and sales fluctate, your function will need to accept different values and still return the total sales.

In this task, practice calling your function with different values.

Example:

```
[IN]  total_sales(16.99, 1232)
[OUT] 20931.68

[IN]  total_sales(10.50, 1472)
[OUT] 15456.0

[IN]  total_sales(5.00, 349)
[OUT] 1745.0

```

In [ ]:
# Call `total_sales` with 16.99 price and 1232 num_tickets
### YOUR CODE HERE ###
total_sales(16.99, 1232)

20931.68

In [ ]:
# Call `total_sales` with 10.50 price and 1472 num_tickets
### YOUR CODE HERE ###
total_sales(10.50, 1472)

15456.0

In [ ]:
# Call `total_sales` with 5.00 price and 349 num_tickets
### YOUR CODE HERE ###
total_sales(5.00, 349)

1745.0

# Conclusion

**What are your key takeaways from this lab?**

[Double-click to enter your response.]

defining a function with parameters and making it returning a desired value,

calling the same function with different arguments and checking if the solution is correct,

used round built-in function